.buttonLink {
  width: 352px;
  height: 69px;
  background: $color-yellow;
  border-radius: 8px;
  
  @include flexbox;

  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;

  
  letter-spacing: 0.15px;
  color: $color-white;

  transition: background 0.2s;

  &:hover{
    background: darken($color-yellow, 5%);
  }
}
