.defaultLayout {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../../res/images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;

  @include flexbox;

  
  &__logo{
    position: absolute;
    top: 10%;
    left: 10%;
  }
}
