.input {
  width: 397px;
  height: 68px;
  margin-top: 20px;

  padding: 10px;
  border: none;
  background: rgba(164, 164, 164, 0.45);
  border-radius: 6px;

  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.15px;


  color: $color-grey;
}
