
.modalPay{
  width: 1083px;
  height: 1163px;
  @include flexbox;
  background: rgba(2, 2, 2, 0.81);
  border-radius: 7px;
  position: relative; 
  transition: visibility 0.3s linear;

  svg{
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 8%;
  }

  &__content{
    @include flexbox;
    flex-direction: column;
    width: 100%;

    &--buttons{
      @include flexbox;
      flex-direction: column;
      width: 100%;  
    }

   
  }
}

.modal-fadein{
  visibility: visible;
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}

.modal-fadeout{
  visibility: hidden;
  -webkit-animation: fadeout 0.3s linear backwards;
  animation: fadeout 0.3s linear backwards;
}

@-webkit-keyframes fadein {
   from {
    transform: scale(.25);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadein {
   from {
    transform: scale(.25);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeout{
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(.25);
    opacity: 0;
  }
}
