.dashboard {
  @include flexbox;
  margin-top: 160px;
  flex-direction: column;
  width: 100%;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 91px;
    display: flex;
    letter-spacing: 0.15px;
    color: $color-white;
  }

  &__content {
    @include flexbox;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .iconPrevious, .iconNext {
      @include flexbox;
      margin: 0 30px;
      align-items: center;
      height: 621px;
    }
   
  }
}
