.dashboard {
  @include flexbox;
  flex-direction: column;
  width: 100%;
  position: relative;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 91px;
    display: flex;
    letter-spacing: 0.15px;
    color: $color-white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
    h1{
      font-size: 30px;
    }
    .contentMovies{
      display: flex;
      flex-direction: row;
      align-items: stretch;
    
      transition: margin-left 1s;
    }

    button{
      @include flexbox;
      position: absolute;

      height: 100%;
      z-index: 6;
      background: rgba(20, 20, 20, 0.7);
      border: 0;
      visibility: hidden;


      &:hover {
        svg {
          width: 45px;
          height: 45px;
        }
      }
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
   
  }
}
