  .landing__presents {
    &-text--box {
      @include flexbox;
      flex-direction: column;

      h1 {
        text-transform: uppercase;

        color: $color-white;
        font-style: normal;
        font-weight: 500;
        font-size: 74px;
        line-height: 120%;

        span {
          font-weight: bold;
        }
      }


      div {
        width: 700px;
        height: 150px;

        p {
          color: $color-white;
          font-style: normal;
          font-weight: 500;
          font-size: 25px;
          letter-spacing: 0.15px;
          line-height: 117.4%;
          margin-top: 40px;
        }
      }
    }
  }


