*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

html{
  scroll-behavior: smooth;
}

html, body, #root{
  height: 100%;
  background-color: #FFF;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, button{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
button{
  cursor: pointer;
}




::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0005;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-yellow;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-yellow;
  opacity: 0.5;
}

/* Handle */
